doctype html
html(lang="en")
	head
		title="Sudoku Game"
		link(rel="stylesheet",type="text/css", media="screen, projection", href="../stylesheets/screen.css")
		script(type="text/javascript" src="../jquery-1.10.2.js")
		script(type="text/javascript" src="../sudoku.js")
	body
		div#container
			main#content
				div#selection
					- var n = 1
					while n < 10
						div.number
							h2(data-count=9)=n++
				aside#btnOption
					button(class='btnOption', id='clearTile') Clear Tile
					button(class='btnOption', id='clearRow') Clear Row
					button(class='btnOption', id='clearCol') Clear Column
					button(class='btnOption', id='clearAll') Clear clearAll
				div#board_wrapper
					- var col = 0
					- var row = 0
					- var sudokuObj = [[1,2,3,4,5,6,7,8,9],[1,2,3,4,5,6,7,8,9],[1,2,3,4,5,6,7,8,9],['.', '.', '.', '.', '.' ,'.', '.' ,'.', '.'],[1,2,3,4,5,6,7,8,9],[1,2,3,4,5,6,7,8,9],[1,2,3,4,5,6,7,8,9],[1,2,3,4,5,6,7,8,9],['.', '.', '.', '.', '.' ,'.', '.' ,'.', '.']]
					while row < 9
						div.wrapper(display="table", width="100%", top=row * 90 + 'px')
							while col < 9
								- var borderLeft = (col != 0 && col % 3 == 0) ? 'border_left ' : ''
								- var borderTop = (row != 0 && row % 3 == 0) ? 'border_top ' : ''
								- var string = sudokuObj[row][col] == '.'? '' : sudokuObj[row][col]
								- var preset = string == '' ? 'need_to_fill':'preset'
								div(class=("sudoku_cell " + borderLeft + borderTop).trim())
									if string == ''
										h2(class=preset, data-row=row, data-col=col, data-val='&nbsp') &nbsp
									else 
										h2(class=preset, data-row=row, data-col=col, data-val=string)=string
								- col++
							- row++
							- col = 0